name: kitchen

on:
  push:
    branches: [ main ]
  pull_request:


jobs:
  kitchen:
    strategy:
      fail-fast: false
    uses: facebook/chef-cookbooks/.github/workflows/reusable-kitchen-tests.yml@main
    secrets:
      OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
    with:
      universe: true
      suite: local
      kitchen_local_yaml: .kitchen.local.yml
